<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>BookSuggestion</param-name>
        <param-value>9788437619538</param-value>
    </context-param>
    <filter>
        <filter-name>Encoding</filter-name>
        <filter-class>bookstore.web.filter.Encoding</filter-class>
    </filter>
    <filter>
        <filter-name>Timing</filter-name>
        <filter-class>bookstore.web.filter.Timing</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Timing</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>bookstore.web.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAuthor</servlet-name>
        <servlet-class>bookstore.web.action.SearchByAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>bookstore.web.action.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByEditorial</servlet-name>
        <servlet-class>bookstore.web.action.SearchByEditorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByTitle</servlet-name>
        <servlet-class>bookstore.web.action.SearchByTitle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByISBN</servlet-name>
        <servlet-class>bookstore.web.action.SearchByISBN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDDBB</servlet-name>
        <servlet-class>bookstore.web.action.ManageDDBB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchAllBooks</servlet-name>
        <servlet-class>bookstore.web.action.SearchAllBooks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchAllBooks</servlet-name>
        <url-pattern>/SearchAllBooks</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>SearchByAuthor</servlet-name>
        <url-pattern>/SearchByAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByEditorial</servlet-name>
        <url-pattern>/SearchByEditorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByTitle</servlet-name>
        <url-pattern>/SearchByTitle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByISBN</servlet-name>
        <url-pattern>/SearchByISBN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDDBB</servlet-name>
        <url-pattern>/ManageDDBB</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
