/* 
    Created on : 04-dic-2013, 19:24:32
    Author     : Pablo Albaladejo Mestre (pablo.albaladejo.mestre@gmail.com)
*/
body{
    background:#f7fbfa;
}
table {
    border: 3px solid #000000;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    vertical-align: top;
    padding: 0.3em;
    caption-side: bottom;
}
th {
    background: #858d66;
    font-weight: bold;
    font-style: italic;
    color: #d1d7b1;
}
.odd th, .odd td {
    background: #d1d7b1;
    border: 2px solid #c2c6b3;    
}
.even th, .even td {
    background: #c2c6b3;
    border: 2px solid #d1d7b1;
}
h1{
    text-shadow: -2px -2px 2px #858d66;
    color: #858d66;
    font-style: italic;
}

p{
    color: #828282;
    font-weight: bold;
    font-style: italic; 
}

